{% extends 'index.html' %}
{% load static %}
{% block body %}

	<div class="w3l_banner_info" style="height:10px">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:90px">
							<div class="slider_banner_info">
						
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>


<section class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2" style="margin-top:8%">
    <h1 align="center" style="font-weight:bold;font-family : 'Monotype Corsiva' ; color : #E6120E ;">Our Services</h1>

    <iframe style="height:0"></iframe><div class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2">
<div class="container">
<div class="row">
	<div class="col-md-4 col-sm-12 w3_ban1">
		<div class="card">
		  <img class="card-img-top" src="https://media.licdn.com/dms/image/C5612AQGMeQr0_D3CcA/article-cover_image-shrink_600_2000/0/1520243333917?e=2147483647&v=beta&t=6FAT254BrPtj-oQV271CZD7IU4BxKstFuxUk4ZRcKJQ" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">Category <span style="color:red">(<span style="color:black;font-weight:bold">500</span>)</span></h5>
			<p class="card-text">this is some description</p>
			<a href="" class="btn btn-primary">Book</a>
		  </div>
		</div>
		</div><div class="col-md-4 col-sm-12 w3_ban1">
			<div class="card">
			  <img class="card-img-top" src="https://media.licdn.com/dms/image/C5612AQGMeQr0_D3CcA/article-cover_image-shrink_600_2000/0/1520243333917?e=2147483647&v=beta&t=6FAT254BrPtj-oQV271CZD7IU4BxKstFuxUk4ZRcKJQ" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title">Category <span style="color:red">(<span style="color:black;font-weight:bold">500</span>)</span></h5>
				<p class="card-text">this is some description</p>
				<a href="" class="btn btn-primary">Book</a>
			  </div>
			</div>
			</div><div class="col-md-4 col-sm-12 w3_ban1">
				<div class="card">
				  <img class="card-img-top" src="https://media.licdn.com/dms/image/C5612AQGMeQr0_D3CcA/article-cover_image-shrink_600_2000/0/1520243333917?e=2147483647&v=beta&t=6FAT254BrPtj-oQV271CZD7IU4BxKstFuxUk4ZRcKJQ" alt="Card image cap">
				  <div class="card-body">
					<h5 class="card-title">Category <span style="color:red">(<span style="color:black;font-weight:bold">500</span>)</span></h5>
					<p class="card-text">this is some description</p>
					<a href="" class="btn btn-primary">Book</a>
				  </div>
				</div>
				</div><div class="col-md-4 col-sm-12 w3_ban1">
					<div class="card">
					  <img class="card-img-top" src="https://media.licdn.com/dms/image/C5612AQGMeQr0_D3CcA/article-cover_image-shrink_600_2000/0/1520243333917?e=2147483647&v=beta&t=6FAT254BrPtj-oQV271CZD7IU4BxKstFuxUk4ZRcKJQ" alt="Card image cap">
					  <div class="card-body">
						<h5 class="card-title">Category <span style="color:red">(<span style="color:black;font-weight:bold">500</span>)</span></h5>
						<p class="card-text">this is some description</p>
						<a href="" class="btn btn-primary">Book</a>
					  </div>
					</div>
					</div><div class="col-md-4 col-sm-12 w3_ban1">
						<div class="card">
						  <img class="card-img-top" src="https://media.licdn.com/dms/image/C5612AQGMeQr0_D3CcA/article-cover_image-shrink_600_2000/0/1520243333917?e=2147483647&v=beta&t=6FAT254BrPtj-oQV271CZD7IU4BxKstFuxUk4ZRcKJQ" alt="Card image cap">
						  <div class="card-body">
							<h5 class="card-title">Category <span style="color:red">(<span style="color:black;font-weight:bold">500</span>)</span></h5>
							<p class="card-text">this is some description</p>
							<a href="" class="btn btn-primary">Book</a>
						  </div>
						</div>
						</div><div class="col-md-4 col-sm-12 w3_ban1">
							<div class="card">
							  <img class="card-img-top" src="https://media.licdn.com/dms/image/C5612AQGMeQr0_D3CcA/article-cover_image-shrink_600_2000/0/1520243333917?e=2147483647&v=beta&t=6FAT254BrPtj-oQV271CZD7IU4BxKstFuxUk4ZRcKJQ" alt="Card image cap">
							  <div class="card-body">
								<h5 class="card-title">Category <span style="color:red">(<span style="color:black;font-weight:bold">500</span>)</span></h5>
								<p class="card-text">this is some description</p>
								<a href="" class="btn btn-primary">Book</a>
							  </div>
							</div>
							</div>
</div>
</div>
</div>
</section>

{% endblock %}